body {
    background: url("../media/umbrella-cover.jpg") bottom left no-repeat fixed;
    background-size: cover;
}

#logo-space {    
    position: absolute;
    top: 120px;
    right: 80px;
    width: 128px;
}
#content {
    position: absolute;
    top: 256px;
    right: 80px;
    width: 600px;
    text-align: right;
}

h1, h2 {
    color: #fff;
}

.description-text {
    background: #fff;
    padding: 20px;
    margin-top: 10px;
}

.description-text p {
    text-align: left;
}

.description-text p {
    padding-bottom: 8px;
}