body, html {
    height: 100%;
}
#page-cover {
    background: url("../media/umbrella-cover.jpg") top left no-repeat fixed;
    background-size: cover;
    margin:0;
    min-height:100%;
}
#page-gallery {
    margin:0;
    min-height: 100%;
}

#logo-space {    
    position: absolute;
    top: 120px;
    right: 80px;
    width: 128px;
}
#content {
    position: absolute;
    top: 256px;
    right: 80px;
    width: 600px;
    text-align: right;
}

h1, h2 {
    color: #fff;
}

.description-text {
    background: #fff;
    padding: 20px;
    margin-top: 10px;
}

.description-text p {
    text-align: left;
    line-height: 1.5em;
}

.description-text p {
    padding-bottom: 8px;
}

.seperator-text {
    display: block;
    width: 200px;
    height: 0px;
    border-top: 4px solid #333;
    margin:0 auto;
}
.gallery-frame {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.gallery-frame ul {
    list-style: none;
}
.gallery-frame ul li {
    display: inline-block;
    padding: 40px 20px;
}

.text-frame {
    width: 60%;
    margin: 0 auto;
    padding: 40px;
    color: #333;
    line-height: 2em;
}
.center {
    text-align: center;
}
